
.show-label{
    width: 100%;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: white;
    font-weight: 500;
    
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
    top: 32px;
    z-index: 99;
}

.left-icon{
    float: left;
    height: 56px;
    border-right: 2px solid white;
    width: 50px;
    margin-right: 15px;
    text-align: center;
    margin-top: -10px;
    padding-top: 15px;
    font-size: 21px;
    color: white;
}

.show-label label{
    font-size: 18px;
    display: block;
    margin-top: 5px;
    
    float: left;
    margin-right: 30px;
}

.dis-btn{
    
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    float: left;
    margin-left: 16px;
    margin-top: -1px;
    padding-right: 30px;
    padding-left: 30px;
}
.container1{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.remaing-time input{
    width: 40px;
    float: left;
    margin-right: 10px;
    height: 40px;
    margin-left: 5px;
    text-align: center;
    border-radius: 3px;
    margin-top: -2px;
    border: 0px;
    background: white !important;
    color: black !important;
    opacity: .5;
}